body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
}

i {
    margin: 5px;
}

a {
    padding: 5px;
    text-decoration: none;
}

p {
    text-align: justify;
}

h1 {
    font-size: 60px;
}

#watch {
    font-size: 25px;
    margin: 5px 10px;
    color: white;
    background-color: crimson;
    transition: background-color .5s;
}

#watch:hover {
    font-size: 25px;
    margin: 5px 10px;
    color: white;
    background-color: darkblue;
}


/* =============== Header =============== */

header {
    width: 100%;
    min-height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.head {
    width: 85%;
    margin: 20px 0;
}

.fa-th:before {
    content: "\f00a";
    color: white;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.grip {
    float: left;
    font-size: 40px;
    color: white;
    border-radius: 8px;
    transition: background-color .5s;
}

.grip:hover {
    float: left;
    font-size: 40px;
    color: white;
    border-radius: 8px;
    background-color: darkblue;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.page {
    float: left;
}

.page a {
    font-size: 25px;
    margin: 10px 20px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color .5s;
}

.page a:hover {
    font-size: 25px;
    margin: 10px 20px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background-color: darkblue;
}

.login {
    float: right;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-title img {
    width: 50%;
    height: 500px;
}

.opacity-animation {
    color: white;
    /* animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-name: opacity; */
    animation-name: opacity;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 50%;
        color: black;
    }
    100% {
        opacity: 100%;
    }
}


/* =============== Main =============== */

main {
    width: 100%;
}

.players {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player {
    width: 400px;
    background-color: white;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0 5px 5px gray;
    cursor: pointer;
    transition: box-shadow .5s;
}

.player:hover {
    width: 400px;
    background-color: white;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0 5px 5px blue;
}

.player img {
    width: 400px;
    height: 350px;
}


/* ===============Bonus=============== */

.main2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bonus {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.newse {
    margin: 0 10px;
}

.newse h2 {
    font-size: 35px;
}

.image img {
    width: 90%;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 5px 5px gray;
    transition: box-shadow .5s;
}

.image img:hover {
    width: 90%;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 5px 5px blue;
}


/* =============== Footer =============== */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-site a i {
    color: gray;
    font-size: 30px;
    margin: 10px 20px;
    transition: transform .5s ease;
}

.social-site a i:hover {
    color: blue;
    font-size: 30px;
    margin: 10px 20px;
    transform: scale(1.6);
}

.social-site p {
    margin-bottom: 30px;
}


/* =============== Media =============== */

@media (max-width:1060px) {
    header {
        width: 100%;
    }
    .page {
        display: none;
    }
    .login {
        position: relative;
        left: 85%;
    }
}

@media (max-width:480px) {
    .header-title {
        flex-direction: column;
    }
    .header-title img {
        width: 80%;
    }
    .bonus {
        flex-direction: column;
        align-items: center;
    }
    .newse {
        margin-bottom: 30px;
    }
}